[2017-09-03 19:16] mperkh opened #1 "Possible to auto inject the necessary html?"
Hi - absolutely great plugin thanks a lot!

According to https://github.com/jantimon/favicons-webpack-plugin, it's possible to let webpack also auto inject the necessary html for the generated favicons, if `html-webpack-plugin` is used.

Is that possible? If yes, we could add this to the instructions.

[2017-09-07 16:44] julien1619 commented on #1
Hi! Thank you very much for your feedback.

I remember that I quickly checked this point and there was an issue because `favicons-webpack-plugin` was generating a lot of things including a manifest for a progressive web app. That manifest was handled by Gatsby and it caused a conflict when I tried to auto inject the necessary html.

Maybe a setting exists to make it working, so, if you want to che

[2017-10-17 04:05] bernatfortet opened #3 "Favicon.png dimension"
Which should be the size of the favicon to rescale properly?

Thanks

[2017-10-17 07:28] mperkh commented on #3
The test image of https://github.com/evilebottnawi/favicons, which this gatsbyJS plugin depends on, has a dimension of 1.500 x 1.500 pixels. So I would say the image should be at least that size.

https://github.com/evilebottnawi/favicons/blob/master/test/logo.png

[2017-10-31 09:49] nikbelikov opened #4 "how to add links to html?"
The plugin adds _favicons_ folder to **public** folder. But there is no any links to that icons in index.html. How can i add them?

[2017-10-31 10:54] mperkh commented on #4
There is already a pull request https://github.com/Creatiwity/gatsby-plugin-favicon/pull/2.

@julien1619 is there anything we could do, to bring wind into this issue https://github.com/Creatiwity/gatsby-plugin-favicon/issues/1?

[2017-10-31 15:15] #1 closed, assigned to nobody

[2017-10-31 15:16] julien1619 commented on #4
Thank you for the reminder! I've juste merged it. So html injection is done by the plugin.

[2017-10-31 15:18] julien1619 commented on #3
That's right, 1500x1500 should be enough. I'll keep this issue opened for now until I add it to the README file.

[2017-10-31 15:24] #3 closed, assigned to julien1619

[2017-11-08 12:13] mperkh opened #8 "Add unit tests"
Since testing this plugin by hand is a pain (looking at generated favicons folder and generated/injected html source), it would be nice to add unit tests.

GatsbyJS uses https://facebook.github.io/jest/ for all its tests. Perhaps we could also use this library, which I have never used before, but want to learn.

[2017-11-08 17:50] Undistraction opened #9 "Check if file has changed before generating favicons"
Looks like this plugin is generating every favicon every time it runs, regardless of whether the source icon has changed. Given how long image generation takes, this is a bit of a deal breaker.

Please perform a check to see if the source image has changed and if not, skip favicon generation.

[2017-11-08 21:27] mperkh commented on #9
hmm.. https://github.com/jantimon/favicons-webpack-plugin/blob/master/README.md `persistentCache` defaults to `true`, so this gatsbyJS plugin always also creates a `.cache` file, which contains hash for `logo.png` and options.
Just tried it and it seems to work, the webpack plugin does not regenerate icons, if logo.png or options do not change.

[code]

Can you supply a way to reproduce the issue?

[2017-11-08 22:28] Undistraction commented on #9
Sure: If you pull this: https://github.com/Undistraction/gatsby-skeleton

- `yarn`
- `yarn run dev`
- You'll see the build hang during the favicon image processing.
- Cancel out and run again and you'll see the same hang, despite the fact the favicons have been generated already.
- Remove the plugin and rerun and you won't see that hang.

I'm on OSX 0.11.6 btw.

[2017-11-09 11:28] mperkh commented on #9
Can confirm, build times are 10 times higher, with this plugin activated. Not sure, if this is an issue with https://github.com/jantimon/favicons-webpack-plugin and where the fix is needed.

![favicon](https://user-images.githubusercontent.com/1648040/32603251-51423f76-c549-11e7-9e02-a12a2210d60f.png)

PS: Seems to be an issue with combination of gatsbyJS and favicons-webpack-plugin. favicons-webp

[2017-11-13 13:48] nikbelikov commented on #4
I've updated package and can't see any changes. There is no any links to favicons in result compressed html.

[2017-11-28 02:55] chadwatson commented on #4
This doesn't appear to be working for me either. Using `2.0.0` on two different sites with no success.

[https://www.417tubs.com/](https://www.417tubs.com/)
[https://suspicious-noyce-c14778.netlify.com/](https://suspicious-noyce-c14778.netlify.com/)

Here is my `gatsby-config.js`:

[code]

[2017-11-28 08:38] mperkh commented on #4
Current v2.0.0 of this plugin is broken and does not inject html. Pull request https://github.com/Creatiwity/gatsby-plugin-favicon/pull/6, which fixes the problem is here and waiting to be processes by the project owner.

In the meantime, please use a temporary version of the plugin, which covers the mentioned fixes.

`npm remove gatsby-plugin-favicon`
`npm install gatsby-plugin-favicon-mperkh`

a

[2017-11-30 15:48] julien1619 commented on #9
It should be fixed by #6, thank you @mperkh and @Undistraction for the report!

[2017-11-30 15:48] #9 closed, assigned to nobody

[2017-11-30 15:54] julien1619 commented on #8
It would be great! I've never used it myself neither, but feel free to open a PR if you look into it before I find some time to do so :)

Maybe we should begin with some tests to test the following things:
- All favicons are generated with standard configuration
- Check the output HTML file
- Maybe a last one with a custom path to find the source file?

[2017-11-30 16:31] julien1619 opened #11 "About lock files: Yarn or vanilla-NPM"
Hello contributors and developers using this plugin! @mperkh @maddijoyce

While I was publishing the 2.1.0 update I noticed that the `package-lock.json` generated by NPM was added to the `.gitignore` file. In fact, when you publish an update using `npm version <update_type>`, if a `package-lock.json` exists in the root folder, npm will try to add it to git, causing an error while publishing the up

[2017-11-30 16:40] julien1619 commented on #4
@nikbelikov @chadwatson A new version is available which should fix everything, can you confirm that it's working now? Thanks!

[2017-11-30 16:52] Undistraction commented on #9
Nicely done. I'll give it a good check tomorrow.

[2017-12-01 18:57] nikbelikov commented on #4
It works well. Thank you!

[2017-12-04 06:51] #4 closed, assigned to nobody

[2017-12-04 12:33] mperkh commented on #11
Hmm.. Haven't seen any gatsbyJS plugin, that has these lock files included. https://github.com/gatsbyjs/gatsby/tree/master/packages

Will it help, if we added `package-lock.json` to `.npmignore`?

Think we should conform to the official gatsbyJS plugins, since @KyleAMathews mentioned in discord chat (cannot link into it), this could become an official gatsbyJS plugin.

[2017-12-04 12:45] mperkh commented on #8
Yeah would be great, I am very new to writing unit tests, would be a great way to learn it.

Afaik, unit tets should only test the core functionality of piece of software. So the core functionality of this plugin is, that it takes a snippet of configuration, parses it and sends it to other functions, which do the actual work. We can trust, these functions are tested somewhere else and view them as

[2017-12-04 12:47] julien1619 commented on #11
Yes I'll try to add it to `.npmignore`.

Concerning what @KyleAMathews said, I didn't see that. I'm going to discord right now :)

[2017-12-04 12:58] mperkh commented on #11
Discussion took place on 04.09.2017
![discord](https://user-images.githubusercontent.com/1648040/33553953-1a1f1bde-d8fb-11e7-8854-c1c66f852fff.png)

[2017-12-04 13:18] julien1619 commented on #8
Yes you're right, we should start with some unit tests that are strictly testing the code included in the plugin. Then, later, we could consider having an integration testing to test the whole feature, but indeed they are not the same and we can start with the first one.

[2017-12-13 01:07] Undistraction commented on #9
This is working nicely now. Thanks.

You should add this plugin to Gatsby's list of community plugins: https://www.gatsbyjs.org/docs/plugins/

[2018-01-05 17:38] aaronsky opened #12 "Allow all configuration supported by FaviconsWebpackPlugin"
Hey folks, real happy with the plugin. Y'all made my site much easier to deploy yesterday. 👍

One thing I'd like to see is being able to pass through all options supported by FaviconsWebpackPlugin, rather than just the icons object and logo path. It'd be really great to get the full swath of features that plugin makes available.

[2018-01-09 17:25] julien1619 commented on #12
Hello! Thank you for your feedbacks :)
It seems to be an easy task, I can look into it maybe at the end of the week or next week, or if it's really needed quickly you can submit a PR implementing this feature.

[2018-01-30 22:45] levinstanley opened #13 "package.json Illegal characters"
Hey, I'm getting the following error:

$ yarn add gatsby-plugin-favicon
yarn add v1.3.2
error package.json: Name contains illegal characters
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.

Any thoughts?

[2018-02-02 22:36] kripod opened #15 "Add support for SVG inputs"
I think it would be great if smaller icons could be produced in higher quality.

[2018-02-07 12:04] Mohamed3on opened #16 "favicons not shown"
I've followed the instructions, and the HTML is injected correctly, but it points to the `/favicons` folder which is not generated when I run `gatsby develop`. I've found that `favicons` folder, but it's in the `public` folder, instead of the root directory.
I'm using https://github.com/gatsbyjs/gatsby-starter-blog and this was added to my config file:
[code]

[2018-02-09 00:16] mohsen1 opened #17 "Thank you!"
This is not an issue. I just want to say this was super easy to use and worked like a charm. Thank you for sharing this amazing work!

[2018-02-09 00:17] #17 closed, assigned to nobody

[2018-02-09 17:13] JohanDufau commented on #17
Thx for the feedback! 👍

[2018-02-13 15:04] phlipper opened #18 "Is it possible to customize the `manifest.json`?"
Hello,

Thank you for this plugin! Is it, or could it be, possible to customize the generated `manifest.json` file? I'd like to be able to set the `name`, `short_name`, `description`, `start_url`, etc.

[2018-02-13 20:15] gregorskii opened #19 "Compatibility: Latest Gatsby "onRenderBody" is not an API method"
Seems to be an issue with latest Gatsby:

[code]

Packages:

[code]

[2018-02-14 10:52] mperkh commented on #19
Just tired it, using a vanilla installation and can not reproduce this issue. Nothing seems to have changed at https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody

[2018-02-14 19:07] moonmeister commented on #18
I'd second this need. I'd be happy to look into adding this feature. @creatiwity would you take a PR for this? My goal would basically to combined the functionality with the [gatsby-plugin-manifest](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-manifest). cc: @KyleAMathews

[2018-02-17 18:57] Mohamed3on commented on #16
The problem was that https://github.com/gatsbyjs/gatsby-starter-blog added a pathPrefix to `gatsby-config.js`, when I removed that, it worked.

[2018-02-17 18:57] #16 closed, assigned to nobody

[2018-02-18 00:08] janschloss opened #20 "Compatibility with Gatsby Manifest Plugin"
This plugin creates another manifest file.

https://www.gatsbyjs.org/packages/gatsby-plugin-manifest/

Are there plans to create some synergy between your plugin and this one?

[2018-02-20 22:43] ooloth opened #21 "Option to convert favicon.png to favicon.webp?"
Any chance of an option to convert favicon.png to favicon.webp?

A Lighthouse performance audit of a site using gatsby-plugin-favicon includes the following recommendation:

[code]

Normally, I can use `...GatsbyImageSharpSizes_withWebp` when querying images, but obviously that isn't available here.

Any help would be appreciated! I imagine most Gatsby users are as performance-obsessed as I am. 😉

[2018-02-22 08:50] mperkh commented on #21
Could'nt find much about favicons in WebP format online. Would that just mean, a favicon.webp file should be generated? How is that injected into html?

Seems https://github.com/jantimon/favicons-webpack-plugin, which itself is using https://github.com/evilebottnawi/favicons to generate the icons, does not support that.

[2018-02-22 17:51] ooloth commented on #21
Yeah, I haven't heard of using WebP for favicons either, but it seems like it might be a good (if new) idea where possible. (We're talking a difference of ~7KB though, so it's not a major concern.)

I hadn't noticed this project's dependencies, so thanks for explaining those constraints.

What I'd noticed is that the PNGs are all hard coded in [https://github.com/Creatiwity/gatsby-plugin-favicon/b

[2018-03-01 16:02] s-kennedy commented on #19
I'm getting this error too, any updates?

[2018-03-02 07:25] moonmeister commented on #20
@janschloss I asked basically the same thing here: https://github.com/Creatiwity/gatsby-plugin-favicon/issues/18 ( I didn't get a response). At a basic level they're designed to help with the same issue. This one has implimented the image automation and the gatsby-plugin-manifest has implimentd the customization.

Since the owners of this repo have been unresponsive I plan to merge the two plugins

[2018-03-16 13:37] iwarner opened #23 "Path Prefix on Development"
On development the path to Favicon includes the PathPrefix

I believe this should not be the case unless the --prefix-paths is added as in build

Cheers for the plugin

[2018-03-16 17:21] aziz-ka commented on #20
I was having the same issue. Here's my workaround. Seems like all you have to do is to set `android: false` in the config file. All this flag does is enables/disables `manifest.json` which is what causes the conflict with [gatsby-plugin-manifest](https://www.gatsbyjs.org/packages/gatsby-plugin-manifest) in the first place
https://github.com/Creatiwity/gatsby-plugin-favicon/blob/5a3ee5bd09f00ebe534

[2018-03-21 05:39] tremby opened #24 "Add content hashes to output filenames"
To allow long-term caching.

Consider changing the default output directory to be under "static" at that point too, along with other things which can be cached long-term.

[2018-04-03 12:18] filipemir commented on #23
+1 for this issue. This just caused some head scratching on my own end when I couldn't get the favicon to show up locally.

[2018-04-05 20:32] moonmeister commented on #20
@janschloss @aziz-ka Thanks for the workaround info. FYI the gatsby-plugin-manifest has been updated with auto icon generation/resize support for manifest. Using your workarround you can generate images for other browsers.  Check it out here: https://github.com/gatsbyjs/gatsby/pull/4382

[2018-04-21 13:03] #23 closed, assigned to nobody

[2018-05-05 19:02] decimoseptimo opened #26 "favicon disapears"
chrome latest (66), to reproduce:
enter `/page.html`
click any external link
click on browser's back button
click on `anotherPage.html`
click on `/page.html`
At this point the favicon dissapears from the window

IE11, to reproduce:
enter `index.html`
as soon as you change page the favicon will disapear
unless you're at `index.html`

This doesn't happen when "manual" favicon.ico insertion takes pla

[2018-05-06 19:55] julien1619 commented on #26
Thanks for the report! I'll look into it quickly. In fact I've had some strange behavior with Gatsby lately, maybe it's related to what you're experiencing.

[2018-05-07 07:01] pkrupar commented on #15
My source image is .svg and everything works well without any further setup.

[2018-05-14 22:07] lachlanjc opened #27 "Sites using gatsby-plugin-favicon"
This is such a handy plugin, thank you! Already using it on two sites: (feel free to comment more)

- https://hackhappyvalley.com
- https://hackclub.com

[2018-05-17 22:41] #27 closed, assigned to nobody

[2018-05-19 20:21] JohanDufau commented on #27
Thank you so much for sharing! Your websites are cool :)

[2018-05-19 21:00] lachlanjc opened #28 "White background on Apple icons"
I have a favicon source PNG image with a transparent background, but when this plugin generates the Apple icons, it adds a white background, which looks sloppy. (mine below) I'd imagine this is a problem on Android as well.

<img width="100" alt="screen shot 2018-05-19 at 4 58 36 pm" src="https://user-images.githubusercontent.com/5074763/40272988-0c2cd436-5b86-11e8-8a97-8b050526b426.png">

[2018-05-20 04:40] DJTB commented on #28
This is just how iOS works - the plugin doesn't add the white background, iOS does for any alpha.
https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon

Android is fine with transparency.

[2018-05-20 05:13] lachlanjc commented on #28
iOS does that when adding the app to the home screen, but as in the screenshot, transparent layers are utilized in Safari on macOS/iOS

[2018-05-23 22:07] austriker27 opened #29 "404 Error With Favicon"
I've got an issue with this plugin and searched for other similar issues.

I installed the package via NPM and added the necessary file to my folder (src > assets > favicon.png) but it wont show up.

When I deploy via netlify the console gives me a 404 error for the file.
When I look for the favicon in localhost, it doesnt show up (no 404 error in console).

Has anyone else had this issue?

gatsby

[2018-05-29 10:35] Mrtenz opened #30 "Paths are prefixed even when --prefix-paths is not set"
If I run `gatsby build` without `--prefix-paths`, the paths in the HTML still refer to `/[prefix]/favicons`. Not a big deal, since the production builds require `--prefix-paths`, but it would be nice if this could be fixed.

[2018-05-29 10:44] Mrtenz commented on #30
I just noticed #25, but it looks like this is not published to npm yet?

[2018-06-05 20:07] harrythedev opened #31 "Please explain why favicon is not showing"
Here is my configuration:
```gatsby-config.js```
[code]

I did exactly what the documentation says.

And I started this project with "gatsby-starter-default".
Why is it not working?

[2018-06-05 21:56] harrythedev commented on #31
it renders some image and disappears right away.

[2018-06-07 06:56] arjunattam commented on #28
Same issue here as well. Did you discover any fixes @lachlanjc?

<img width="104" alt="screen shot 2018-06-07 at 12 26 00 pm" src="https://user-images.githubusercontent.com/284612/41083089-f6a56cd2-6a4d-11e8-9283-68ef2c80a53b.png">

[2018-06-07 07:08] arjunattam commented on #28
Looks like this is coming from two levels upstream. Related issue: https://github.com/evilebottnawi/favicons/issues/173

There is a configuration option in the favicons package, called `background`, which is set at #fff. Not sure if that is exposed downstream

[2018-06-10 16:01] PolGuixe commented on #20
@moonmeister thanks for the clarifications

I still don't understand the workaround fully.

If I install and configure `gatsby-plugin-manifest` I get the manifest but I don't get a favicon.
In order to get the favicons I have to install and configure `gatsby-plugin-favicons`.

Is that the current state?

[2018-06-13 13:20] moonmeister commented on #20
The Gatsby-plugin-manifest can now autogenerate images. But it only does so
for the web app manifest spec (what gatsby-plugin-favicon calls android,
but is now used more widely). If you want the favicon generated you will
need. The favicon plug-in, you'll just need to disable android.

AJ

On Jun 10, 2018 9:01 AM, "PolGuixe" <notifications@github.com> wrote:

@moonmeister <https://github.com/moonm

[2018-06-14 10:00] madeleineostoja commented on #20
Ah, only just saw this - made an issue re: that last comment here: https://github.com/gatsbyjs/gatsby/issues/5887

[2018-06-28 12:12] cusspvz commented on #29
Same here!

[2018-07-04 14:39] julien1619 commented on #13
I didn't have any problem, can you still reproduce the bug? Don't hesitate to reopen the bug if it's the case :)

[2018-07-04 14:39] #13 closed, assigned to nobody

[2018-07-04 14:51] julien1619 commented on #28
I've just exposed `background` as a configuration option of this plugin. I'll pack it as a new update very soon!

[2018-07-12 00:28] brotzky opened #35 "No favicons are generated in the output build"
Using this plugin it looks like the favicon links are generated correctly into the HTML head. For example, these links appear in `index.html`
[code]

But there is no `/public/favicons/*` folder generated in the output, which leads to 404s for all the favicon links.

Using Gatsby V2 (next)

The plugins for this project

[code]

[2018-07-19 22:19] brotzky commented on #35
Gatsby V2 uses a different API for webpack updates, so I had to create my own version using V2.

[2018-07-19 22:19] #35 closed, assigned to nobody

[2018-07-24 07:22] julien1619 commented on #31
Did you use Gatsby v2? A new major update of this plugin is available for this version.
Feel free to reopen this bug if it persists.

[2018-07-24 07:22] #31 closed, assigned to nobody

[2018-07-24 07:23] julien1619 commented on #30
A new update is available for Gatsby v2 and it fixes it.

[2018-07-24 07:23] #30 closed, assigned to nobody

[2018-07-24 07:24] julien1619 commented on #29
Is this problem still here with the last update?

[2018-07-24 07:24] julien1619 commented on #28
An update for Gatsby v2 is available with `background`exposed.

[2018-07-24 07:24] #28 closed, assigned to julien1619

[2018-07-24 07:26] julien1619 commented on #26
Do you still have the bug with Gatsby v2 and the update of the plugin?

[2018-07-24 07:27] julien1619 commented on #24
I've just published an update with hashes on filenames and favicon folder.

[2018-07-24 07:27] #24 closed, assigned to nobody

[2018-07-24 07:32] julien1619 commented on #21
I think it's a feature that should be added to the module generating icons. Maybe you should open a feature request on https://github.com/itgalaxy/favicons, I'm closing it here.

[2018-07-24 07:32] #21 closed, assigned to nobody

[2018-07-24 09:45] cusspvz commented on #29
@julien1619 it wasn't working with gatsby v2. I'll give it a try later today.

[2018-07-24 11:05] cusspvz commented on #29
Latest version works good with gatsby v2 out of the box. Thanks!
Config that I've used:

[code]

[2018-07-24 11:17] julien1619 commented on #29
Great! Thank you for the quick test :)

[2018-07-24 11:17] #29 closed, assigned to julien1619

[2018-07-24 11:17] julien1619 commented on #12
Done with the latest version.

[2018-07-24 11:17] #12 closed, assigned to julien1619

[2018-07-24 11:18] julien1619 commented on #19
The new version supports Gatsby v2, so it shouldn't be a problem anymore.

[2018-07-24 11:18] #19 closed, assigned to nobody

[2018-07-24 11:22] julien1619 commented on #15
Thank you for the feedback. Is it still relevant? The underlying plugin have been updated, and it should support SVG input now.

[2018-07-24 11:22] #15 closed, assigned to nobody

[2018-07-24 22:09] julien1619 commented on #18
Thank you for the feedback! It's been a long time but the version 3.1.0 is just out right now and supports a full manifest configuration with Gatsby v2.

[2018-07-24 22:09] #18 closed, assigned to nobody

[2018-07-24 22:10] julien1619 commented on #20
Thank you for the feedback! It's been a long time but the version 3.1.0 is just out right now and supports a full manifest configuration with Gatsby v2.

[2018-07-24 22:10] #20 closed, assigned to nobody

[2018-07-29 18:05] emilioponce opened #36 "Error with the ES6 spread operator"
Hi, thanks for your effort with this plugin.

I've installed the plugin and after a 'gatsby develop' I found that there's no support for the spread operator, the error:

`
 Error: /Users/emilio/Desktop/blog/node_modules/gatsby-plugin-favicon/gatsby-node.js:58
              ...icons,
SyntaxError: Unexpected token ...
`
Some data: Macbook Pro, VSCODE

[2018-07-29 18:14] Notaduck opened #37 "WebPackError: ENOENT: no such file or directory /public/.iconstats.json'"
I've just installed the `gatsby-plugin-favicon` but I get this ` WebpackError: ENOENT: no such file or directory, open '/home/daniel/Projects/personal_blog/public/.iconstats.json'` error when I try to build the project?

[code]

[2018-07-29 18:25] decimoseptimo commented on #26
I'm not very fond of betas. Let's keep this on hold.

[2018-07-29 19:15] julien1619 commented on #26
Ok, so I'm closing it for now, feel free to reopen it if needed.

[2018-07-29 19:15] #26 closed, assigned to julien1619

[2018-07-29 19:17] julien1619 commented on #36
What's your version of Node.js?

[2018-07-29 19:24] julien1619 commented on #37
Favicons generation is a two steps process. First, favicons and manifests are generated in the `public` folder with a `.iconstats.json` file listing all the needed data that will be appended to the HTML. Then, it appends generated HTML to all HTML files using this file. Gatsby handles when to execute these steps.

It seems that `.iconstats.json` has not been generated or is not in the right folder

[2018-07-29 20:08] Notaduck commented on #37
I doesn't look like `.iconstats.json` is in my build dir.
`find ./ -name ".iconstats.json" ` didn't find anything

[2018-07-29 20:28] julien1619 commented on #37
Can you try clearing cache and public folders from Gatsby?

[2018-07-29 20:50] emilioponce commented on #36
node v6.9.4
npm 6.2.0

[2018-07-29 20:51] Notaduck commented on #37
So I did a `rm -rf .cache/*` and `rm -rf .public/*` and I do still get the same results

[2018-07-29 21:10] julien1619 commented on #37
Are you using Gatsby v2? The last major version of this plugin is only compatible with Gatsby v2.

[2018-07-30 02:13] rperez2021 commented on #37
Had the same issue, looked at some other Gatsby Projects I had and I went back to 2.1.1 which doesn't have that issue. @julien1619 Do you know which version was the last one for the current (not V2) version of Gatsby?

[2018-07-30 04:33] Notaduck commented on #37
@julien1619 thanks! That was the issue, I'm currently running version 1.9.277

[2018-07-30 06:08] Notaduck commented on #37
However I think it would be a good idea to make it clear which version that the plugin works with. It looks like 3.1.1 should work with 1.9.277 (see Runkit+npm).

[2018-07-30 06:08] #37 closed, assigned to nobody

[2018-07-30 06:19] julien1619 commented on #37
In fact you should have a warning issued by npm while installing this dependency thanks to the `peerDependencies` configuration. Do you confirm?

[2018-07-30 06:33] Notaduck commented on #37
I can, I missed that one sry.

[2018-07-30 07:04] julien1619 commented on #37
No problem, thank you for the report anyway. I'll check how to quickly improve the information about it.

[2018-07-30 07:06] julien1619 commented on #36
Ok thanks. I've only tested the last version of the plugin on the last versions of Node.js.
To support it, I'll have to slightly rewrite the merging of default values and options. I'll let you know when it's available.

[2018-07-30 07:24] julien1619 commented on #36
@emilioponce I've just pushed a fix on the develop branch. Can you test it? Thank you!

[2018-07-30 07:25] Notaduck commented on #37
you could just make a required gatsby version in the readme ;) In the matter of fact I think evey gatsby plugin should have that to make it more user friendly

[2018-07-30 07:27] julien1619 commented on #37
Indeed, let's keep it simple ^^
An update is coming today, I'll update the Readme in the meantime.

[2018-07-30 07:29] Notaduck commented on #37
Simple is good ;)
will the update support v1 ?

[2018-07-30 18:39] emilioponce commented on #36
Sorry not working:

`
error There was an error compiling the html.js component for the development server.
See our docs page on debugging HTML builds for help https://goo.gl/yL9lND
Error: ENOENT: no such file or directory, open '/Users/emilio/Desktop/blog/public/.iconstats.json'
`

[2018-07-30 19:14] julien1619 commented on #36
Are you using Gatsby v2? The last major version of this plugin is only compatible with Gatsby v2.

[2018-07-30 21:13] emilioponce commented on #36
Ok, that's the problem then. I'm using Gatsby v1 as v2 is still in beta

[2018-07-31 06:07] julien1619 commented on #36
Ok great! I will add a mention about this compatibility issue in the README.

[2018-07-31 06:07] #36 closed, assigned to julien1619

[2018-07-31 06:18] julien1619 commented on #37
Didn't plan to do so first, but finally it was easier than I thought :)
Can you test the develop branch? If it's ok, I'll release it today.

[2018-07-31 06:20] julien1619 commented on #36
Finally I've added backward compatibility on the `develop` branch, can you test it again? I'll release it today if it's working.

[2018-07-31 07:04] emilioponce commented on #36
Ok I'll try today and I give you feedback, but in Linux with node v8.11.3 LTS & Gatsby v1.

(forget the comment about the --save option, my mistake)

[2018-07-31 07:15] emilioponce commented on #36
Not working with node v8.11.3 TLS & Gatsby v1.1.58.
`
  71 |    * @internal
  72 |    */

     | ^
  74 |     warnNoop(publicInstance, 'replaceState');
  75 |   },
  76 |

  WebpackError: ENOENT: no such file or directory, open '/home/epa/Escritorio/blog/public/.iconstats.json'
`

[2018-07-31 07:23] Notaduck commented on #37
yes ofc, but you have to guide me here ;)
I haven't installed a dev. version before, how should that be done `yarn add gatsby-plugin-favicon@develop` can only see 3.1.2 as the latest version

[2018-07-31 09:30] elliotcw opened #38 "using not compatible webpack api"
With `"gatsby": "^1.9.247"` I get the following error on `gatsby build`, using `gatsby-plugin-favicon@3.1.2`.

` — The plugin "gatsby-plugin-favicon@3.1.2" is exporting a variable named "onCreateWebpackConfig" which isn't an API. Perhaps you meant to export "modifyWebpackConfig"?`

[2018-07-31 09:33] #38 closed, assigned to nobody

[2018-07-31 09:34] elliotcw commented on #38
Just found this comment - apologies!

https://github.com/Creatiwity/gatsby-plugin-favicon/issues/36#issuecomment-408977909

[2018-07-31 11:04] julien1619 commented on #36
My colleague has just tested it and it works but not the first time. It seems that the build was done in a different order on Gatsby v1.x, so the file exists but later. I will see what can be done to fix it. I'll keep you in touch. Thanks again!

[2018-08-01 16:52] ToJen commented on #37
@julien1619 how do i use this for the latest gatsby and not the alpha version?

--
EDIT
alternatively, I used `react-helmet` and added the link to the favicon there

[2018-08-02 09:01] endymion1818 opened #39 "error compiling with default settings"
Hi,

This is a really useful plugin, however I'm running into the following issue when running `gatsby develop`

[code]
I see a similar issue on running `gatsby build`

[2018-08-02 13:16] InfraK commented on #39
It's happening the same to me.

[2018-08-02 13:33] julien1619 commented on #39
Hi! thanks for the report. The last major version 3.x of this plugin is only compatible with Gatsby v2 (currently in beta, but very close to RC I think). There is some work in progress to enable Gatsby v1 compatibility but there is one last bug preventing it from publishing.

Do you confirm both that you are using version 3 of this plugin with Gatsby v1?

[2018-08-02 13:35] InfraK commented on #39
I am.

Which version supports gatsby v1?

[2018-08-02 15:15] julien1619 commented on #37
@notaduck In fact another user and my colleague tested it and I'm still having a bug because of the way Gatsby was building things on v1. Can't see for now how to fix it.

@ToJen In your package.json you just have to remove the plugin and add it again at the right version.
[code]

[2018-08-02 15:18] julien1619 commented on #39
@InfraK 2.1.1

[2018-08-03 10:48] Undistraction opened #40 "Plugin Causes Failed Netlify Deploy Due To Vast Memory Use"
Using this plugin when deploying to Netlify results in the build failing due to the plugin using a huge amount of memory.

In Netlify's deploy logs you will see:

[code]

After working through this problem with Netlify's support who explained the app is being killed due to one of the plugins using vast amounts of memory, I've removed everything from my Gatsby project bit by bit until only this plu

[2018-08-09 08:02] kekami commented on #40
I just went through the same ordeal and can confirm that it was gatsby-plugin-favicon v2.1.1 that caused Netlify to kill the build process.

[2018-08-09 08:29] Undistraction commented on #40
@kekami Yep. Ordeal is the right word. Lost a lot of time on this one. It was the first time I've used Netlify and was surprised how poor the debugging is. They said they had had problems with this plugin before, but looks like nobody had opened an issue. I've yet to try this in a V2 app, but I expect the same problem.

[2018-08-09 09:01] julien1619 commented on #40
Thanks for the report! I checked in the underlying plugin and it seems that it's loading ALL the thumbnails in RAM before writing it to the filesystem. I'll investigate on how to fix it.

In the meantime you can try one of the following:
- Enable `favicons` only, disable the others (`android`, `appleIcon`, ...).
- Disable the whole plugin and test `gatsby-plugin-manifest` (be warned, it will gener

[2018-08-09 09:02] #39 closed, assigned to nobody

[2018-09-03 14:07] stefl opened #42 "Initial install gives 'WebpackError: ENOENT: no such file or directory, open '/apps/foundrs/public/.iconstats.json'"
I've just added this to a project using the default config, but I initially get the following in logs:

[code]

[2018-09-03 18:23] jeriscc commented on #42
I got the same error. Potential solutions?

[2018-09-03 18:24] stefl commented on #42
@jeriscc I put this here more as a placeholder than anything, but I wasn't able to resolve this. Looking at the requirement for Node 0.12 and I'm using 0.10 seemed like a good candidate. However the other issues around memory usage seem problematic. I'm using Imgix elsewhere in my app so I may roll my own version of this that uses that for resizing instead.

[2018-09-03 18:26] jeriscc commented on #42
@stefl So I just installed the `2.1.1` version and the issue was resolved. I think the reason might have been that I had Gatsby `1.9.277` which was incompatible with the latest version of this plugin (which needs `gatsby@^2.0.0-alpha`).

[2018-09-03 19:30] stefl commented on #42
@jeriscc Thanks. Had a go, but the Gatsby 2 alpha blows up my SASS files.

[2018-09-03 20:52] julien1619 commented on #42
Hello! I've just published an update to add a workaround for Gatsby v1, but it will still fail for the first build. See the mention added to the README: https://github.com/Creatiwity/gatsby-plugin-favicon#gatsby-v1-workaround

I'll close this issue for now, feel free to open another one if needed. :)

[2018-09-03 20:52] #42 closed, assigned to nobody

[2018-09-04 01:50] MayerMediaCo opened #43 "plugin "gatsby-plugin-favicon@3.1.3" is exporting a variable named "modifyWebpackConfig" which isn't an API."
Plugin started outputting this error only upon Netlify deploy which caused the build to fail.  Nothing has changed with the config of the plugin.  I have updated to 3.1.3 and am on Gatsby 2.0.0-rc.9

[2018-09-04 07:59] julien1619 commented on #43
I had a warning about it but not an error. It seems that the last version of Gatsby issues an error and not a warning anymore when exporting a v1 API.

In fact the last version of `gatsby-plugin-favicon` includes a workaround for Gatsby v1 users, so it seems I'll have to finally remove it. An new update will come in a few hours.

[2018-09-04 08:06] julien1619 commented on #43
Fixed by 1b4c0ba84d7fa2fc8ad8f36460456f8aa55094ac

[2018-09-04 08:06] #43 closed, assigned to julien1619

[2018-09-04 08:08] julien1619 commented on #42
Change of plans. Badly, the last version of Gatsby doesn't let me export a v1 API in parallel with a v2 API. You will have to stick to the version 2.1.1 of this plugin with Gatsby v1. I added a mention about it in the README. Thanks again for the report.

[2018-09-04 19:09] perteraul opened #44 "WebpackError: Cannot read property 'android' of undefined"
Just tried to build the via Netlify without any options and this was the outcome of that.

v2.1.1

[2018-09-04 23:53] hamstercat commented on #44
I had the same problem, turns out there was no default options in v2.2.1. I used the README.md from here https://github.com/Creatiwity/gatsby-plugin-favicon/tree/v2.1.1 and had to add options to my plugin in gatsby-config.js.

[code]

[2018-09-06 04:31] mike-van opened #45 "background color or theme color doesnt change"
I just tried this out in my gatsby project, and im really happy that it works, but the problem is that my favicon.png is white, so i try to change the background color to use custom color, it doesnt work. I refresh the site, rebuild the site. But still it doesnt work. Please tell me how to fix this.

[code]

[2018-09-10 23:27] babzcraig commented on #44
Thanks for this!

[2018-09-17 13:59] aesign opened #46 "WebpackError: ENOENT: no such file or directory, open /public/.iconstats.json'"
- react.development.js:485 Object.fs.openSync
    ~/react/cjs/react.development.js:485:1

  - react.development.js:390 Object.fs.readFileSync
    ~/react/cjs/react.development.js:390:1

  - gatsby-ssr.js:8 Object.module.exports.onRenderBody
    ~/gatsby-plugin-favicon/gatsby-ssr.js:8:1

  - api-runner-ssr.js:31
    .cache/api-runner-ssr.js:31:41

  - api-runner-ssr.js:29 module.exports
    .cache/

[2018-09-17 14:02] julien1619 commented on #46
Thanks for the report. I think you have Gatsby v1 and this plugin in version 3+, which are not compatible. The last version is only compatible with Gatsby v2 which is in RC right now.

https://github.com/Creatiwity/gatsby-plugin-favicon#gatsby-v1

[2018-09-17 14:09] aesign commented on #46
Thanks! How can I downgrade this plugin to 2.1.1 in order to keep Gatsby v1? (I'm new to the React/Gatsby world)

[2018-09-17 14:28] aesign opened #47 "(v2.1.1) WebpackError: Cannot read property 'android' of undefined"
- gatsby-ssr.js:16 Object.exports.onRenderBody
    ~/gatsby-plugin-favicon/gatsby-ssr.js:16:1

  - api-runner-ssr.js:31
    .cache/api-runner-ssr.js:31:41

  - api-runner-ssr.js:29 module.exports
    .cache/api-runner-ssr.js:29:25

  - develop-static-entry.js:52 module.exports
    .cache/develop-static-entry.js:52:3

  - react.development.js:19 Function.Promise.fromNode.Promise.fromCallback
    ~/

[2018-09-17 14:29] #46 closed, assigned to nobody

[2018-09-17 14:35] julien1619 commented on #47
Can you test the solution given a few days ago: https://github.com/Creatiwity/gatsby-plugin-favicon/issues/44 ? Thank you.

[2018-09-17 14:50] aesign commented on #47
Sorry!

[2018-09-17 14:50] #47 closed, assigned to nobody

[2018-09-18 17:54] mikelax opened #48 "Incorrect URLs generated when pathPrefix value is set"
Overview
===
Using gatsby v2, I have a site with a value set for the `pathPrefix` parameter.
Before I added this parameter, Both `gatsby develop` and `gatsby build --prefix-paths` worked correctly. Now I am seeing 404 errors trying to load icons in both development and when running the site after a build.

Here are example URLs that are trying to be loaded:

http://sites/somename/icons-e09e4c81dab

[2018-10-03 18:13] ycgarrido commented on #48
![image](https://user-images.githubusercontent.com/32363657/46430236-6c00cd80-c716-11e8-91d5-07c2321ba5ef.png)
For me too

[2018-10-06 23:19] ahansson89 opened #49 "Apple startup image not correct dimensions on some devices"
When using this plugin to generate Apple startup images it seems like they are not the right dimensions so they are not picked up.

They seem to work on iPhone 6s but not on iPhone X or XS.

There is an article that describes the dimensions here: https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8

[2018-10-07 17:03] Vazerthon commented on #48
I'm experiencing this problem as well.

It looks like the underlying webpack plugin has a `prefix` option - https://github.com/jantimon/favicons-webpack-plugin/blob/master/README.md#advanced-usage - and anything you put in your `options` in `gatsby-config` will be passed through to webpack. There might be a hacky way to get `pathPrefix` working with this but I haven't worked it out yet.

[2018-10-08 16:12] ahansson89 commented on #49
Seems like this needs to be fixed in the upstream favicon package. Will open an issue there as well.

[2018-10-16 17:55] nikbelikov opened #50 "Not working with gatsby v1"
2.1.1 is working though (with "gatsby": "^1.9.278")
Am I have to use older version of the plugin to make it work?

[2018-10-16 21:19] julien1619 commented on #50
Yes, absolutely! See https://github.com/Creatiwity/gatsby-plugin-favicon#gatsby-v1

[2018-10-16 21:19] #50 closed, assigned to nobody

[2018-10-16 21:21] julien1619 commented on #49
Thank you for the report! Can you link the issue you will create in the favicon package with the issue right here?

[2018-10-16 21:31] ahansson89 commented on #49
https://github.com/itgalaxy/favicons/issues/243

[2018-10-16 21:32] julien1619 commented on #48
Indeed there is a weird behaviour in the favicons-webpack-plugin package with the prefix exposed by Webpack.

Here is the commit from my fork that could cause the issue while trying to fix it: https://github.com/Creatiwity/favicons-webpack-plugin/commit/f262255febeeca348bf7ae5cc140e0386c074e2c

Is there anything in your configuration that could explain the bug? I've tested it with a beta version o

[2018-10-16 21:36] julien1619 commented on #45
Thanks for the report! I have to admit that I don't know the expected behaviour of this option. I'm only relying on the underlying plugin `favicons` to handle it.

Can you paste your original favicon.png?

[2018-10-16 21:38] julien1619 commented on #44
Indeed there wasn't a working default configuration in 2.1.1. Please see https://github.com/Creatiwity/gatsby-plugin-favicon/tree/v2.1.1

[2018-10-16 21:38] #44 closed, assigned to nobody

[2018-10-18 18:46] chasemccoy commented on #48
I too am having this issue with a site using a path prefix 🙁

[2018-11-05 14:28] Kay2dan opened #52 "Err 137 with v2.1.1 in Gatsby 1.9.241"
Hello,

I have reviewed all the open & closed issues, however, haven't found any with the solution to my issue.

My package.json has the following relevant info:
[code]

My gatsby-config.js is as follows:
[code]

However, I am getting the npm exit status 137 with code ELIFECYCLE

What am I doing wrong and facing this error?

Thanks,

[2018-11-07 13:03] Kay2dan commented on #52
Im closing this as I used an alternative method of appending a favicon as I couldn't get this to work.

[2018-11-07 13:03] #52 closed, assigned to nobody

[2018-11-08 16:34] julien1619 commented on #52
Hi! Thanks for the report. I have no idea why you've got this error.
Maybe if you update Gatsby to version 2 and this plugin to the last version you can make it work.

[2018-11-09 09:41] Kay2dan commented on #52
Thanks for the feedback, in the end I just went ahead with ico file with the existing version. That resolved the requirement. Next time, will definitely use Gatsby 2. Thanks again.

[2018-12-09 15:32] max-zviahintsev opened #53 "Can't install"
The plugin worked normally but today it causes this error:
[code]

[2018-12-09 20:26] julien1619 commented on #53
Hi! Thanks for the report. Can you share your setup? Gatsby version, etc.

[2018-12-09 20:47] max-zviahintsev commented on #53
Hi, Julien!
Nothing special.  All packages have the latest versions. I developed and deployed my app without a problem a week ago, but today I tried to update packages and make some changes but received mentioned error while updating. Then I deleted node_modules and yarn lock and run "yarn" command, but still, plugin threw the same error. I had to remove it to proceed.
Here is my package.json
[cod

[2018-12-17 13:13] Carl-Maxwell commented on #53
Having the same problem with NPM. Just tried to install this package for the first time and on running npm install I got this:

[code]

I'm on windows 10, here's the dependencies in my package.json:

[code]

I think if you grab the https://github.com/gatsbyjs/gatsby-starter-blog on a fresh install of an OS it'll presumably have the same issue.

Looking up code 128 it turns out it's an authenticati

[2018-12-17 13:29] julien1619 commented on #53
Thanks all for the report, in fact it was fixed by #51 but not published. So I've just released the version 3.1.5 a few minutes ago. Feel free to reopen this bug if needed ;)

[2018-12-17 13:29] #53 closed, assigned to nobody

[2018-12-29 06:52] FMCorz opened #54 "Build fails when emitStats is false"
It seems that disabling emitStats causes the build to fail. Here is my config:

[code]

And here is the error that occurs on a fresh build.

[code]

[2019-01-10 08:56] jeremylynch opened #55 "Support for remote favicon URL's"
It would be great to add support for remote favicons so they can be loaded from an API

[2019-01-15 10:56] karolis-sh commented on #24
The output now is at `public/icon-[hash]/...` but following the [gatsby docs](https://www.gatsbyjs.org/docs/caching/) wouldn't it be more accurate to output at `public/static/icon-[hash]/...`? This would simplify the cache setup for servers.

Ahh, it's actually possible via options:

[code]

[2019-01-15 11:28] julien1619 commented on #24
You're right, we should change the value to enforce good practice.

[2019-01-22 09:10] aquibyatoo commented on #37
gets trough with deleting .cache/* thanks @julien1619

[2019-01-30 01:17] thetrevorharmon opened #56 "Twitter and OpenGraph don't work"
I've been trying to use the the Twitter & OpenGraph flags, but after tracing back through the dependencies of this repo, it turns out that the code that actually generates the favicons (from [itgalaxy/favicons](https://github.com/itgalaxy/favicons)) doesn't generate Twitter or OpenGraph tags.

[2019-02-01 17:19] ezekielaquino opened #58 "Compress generated PNGs"
The generated PNG output is not using a compression e.g. TinyPNG, would be cool if it would do so automagically!

[2019-02-13 18:39] Undistraction commented on #28
@julien1619 It looks like `background` only accepts hex colours. Is there any way to set it to transparent?

[2019-03-05 17:58] RomanHotsiy commented on #48
@julien1619 the commit you are referring is indeed causing the bug:

[code]

`publicPath.substr(0)` is not the first symbol of `publicPath`. It's just a copy of `publicPath`. Use `publicPath.substr(0, 1)` or `publicPath.charAt(0)`

[2019-03-06 07:45] RomanHotsiy commented on #48
Oh, looks like fixed the issue in https://github.com/Creatiwity/favicons-webpack-plugin/commit/0872de414061baaad0a2853c77ae75bc38b8bbbf

but `package.json` of this repo points to old commit:

https://github.com/Creatiwity/gatsby-plugin-favicon/blob/a2e579b2d96bfbd500fdb584abbb4b15697f5d16/package.json#L23

Could you update it?

[2019-03-06 08:50] julien1619 commented on #48
@RomanGotsiy Yes I'll update today or tomorrow, thanks!

[2019-03-06 09:55] RomanHotsiy commented on #48
Thanks!

@julien1619 would be great to update `peerDependencies`

[code]

[2019-03-14 20:16] AmilKey opened #59 "Could not install favicons-webpack-plugin"
[code]
[code]

[2019-03-15 14:44] AmilKey commented on #59
fixed that, just removed `package-lock.json` file

[2019-04-03 08:21] RomanHotsiy commented on #48
Hey, @julien1619.

Just a kindly reminder 😊

[2019-04-03 09:24] #59 closed, assigned to nobody

[2019-04-03 09:24] julien1619 commented on #56
Merged in develop, will be released soon. Thanks for the PR, sorry for the delay to merge it.

[2019-04-03 09:24] #56 closed, assigned to nobody

[2019-04-03 09:27] julien1619 commented on #54
Indeed it's failing because we rely on this file to generate favicon links in HTML files. Is there a use case which needs you to disable this file?

[2019-04-03 09:43] julien1619 commented on #48
3.1.6 is now published, thanks for the reminder!

[2019-04-03 09:43] #48 closed, assigned to nobody

[2019-04-04 02:23] FMCorz commented on #54
Not really, but I saw it as a configurable setting and got surprised when disabling it lead to errors. I supposed I tried turning it off because I wasn't a fan of that file being published in the public directory.

[2019-04-04 08:11] julien1619 commented on #54
Yes, I understand, and I'm not a fan of that solution too but it's the only one I found to communicate data between every part of the process to make it work.

If you can figure another one, I would be very pleased to study it ;)

I'm closing this issue for now, feel free to open a new one if you have any idea on how to improve this specific point.

[2019-04-04 08:12] #54 closed, assigned to nobody

[2019-05-24 15:02] ghost opened #60 "module build failed v3.1.6"
When upgrading from 3.1.5 to 3.1.6, I get this error:
Error: Module build failed (from ./node_modules/favicons-webpack-plugin/lib/fa  vicons.js):
3:11:45 PM:   TypeError: (config.html[platform] || []).map is not a function

[2019-05-24 16:21] ukch commented on #60
I have the same problem, even on version 3.1.5 (freshly installed). I reckon this must be something to do with dependency APIs having changed.

[2019-05-24 20:04] ghost commented on #60
Have you seen this https://github.com/itgalaxy/favicons/issues/268? Hopefully there will soon be a fix! Meanwhile, I've done what was suggested, ie. $ npm install itgalaxy/favicons#v5.4.0, and this works.

[2019-05-25 07:12] YoshiWalsh commented on #58
FYI TinyPNG uses the open-source library [pngquant](https://pngquant.org/) under-the-hood.

gatsby-plugin-favicon is just a wrapper around favicons-webpack-plugin, and favicons-webpack-plugin is just a wrapper around itgalaxy/favicons. So in order for compression to be implemented I think itgalaxy/favicons would have to add it.

But itgalaxy/favicons [don't want to add any native dependencies](htt

[2019-05-25 17:19] julien1619 commented on #60
Indeed the fix in `itgalaxy/favicons` should be available today. I'll see tomorrow if I need to release a new version of `gatsby-favicon-plugin`.

[2019-05-25 17:22] julien1619 commented on #58
I'm planning to move away from `favicons-webpack-plugin` because it seems to be unmaintained. I'll switch to `sharp` and you will likely be able to compress generated PNGs.

[2019-05-26 23:18] iDuckDark commented on #60
Has the issue been resolved yet? I am getting the same error here

[2019-05-27 09:57] julien1619 commented on #60
It seems that we're waiting for this PR https://github.com/itgalaxy/favicons/pull/271 to be merged. As soon as it is done, it should work again.

[2019-05-27 12:53] iDuckDark commented on #60
Thank you for the update!

[2019-05-27 20:08] spences10 commented on #60
Looks like that has been merged now @julien1619 👍

[2019-05-28 09:00] julien1619 commented on #60
Yes, you're right @spences10 ! Normally, you just have to update the npm packages to make it work again. As soon as someone else here can confirm that the bug is now gone, I'll close this issue.

[2019-05-28 09:22] spences10 commented on #60
Oh, so, we just need to update `gatsby-plugin-favicon`?

Has there been a release? I'm on mobile now but can try kick off another netlify build and confirm that way if needed.

[2019-05-28 09:23] julien1619 commented on #60
@spences10 The `itgalaxy/favicons` is only pinned by your `package-lock.json`, so running `npm update` should do the trick.

[2019-05-28 15:11] ghost commented on #60
Running `npm update` didn't work for me. I uninstalled, then installed the plugin

[2019-05-28 15:14] julien1619 commented on #60
@janetrimmer Do you have the version of `favicons` as specified in your `package-lock.json` before, after npm update and after reinstall?

[2019-05-28 15:22] spences10 commented on #60
Yeah, didn't work for me either :'(

[2019-05-28 15:24] ghost commented on #60
For some reason, I initially had problems running` npm update`. (Permissions issue). When I finally got it running, it didn't alter the version of `favicons `in `package-lock.json`.
Before uninstalling  `gatsby-plugin-favicon`, the version of `favicons` in `package-lock.json` was 5.4.0. After installing the plugin again, the version became 5.4.1 and gatsby now works for me!

[2019-05-28 15:31] julien1619 commented on #60
Okay I've just read the npm doc again and `npm update` will only check top level dependencies. `npm --depth 4 update` should update it correctly.

[2019-05-28 15:35] spences10 commented on #60
I upgraded my package as well, I'm using Yarn

Uninstalled then re-installing worked for me too

[2019-05-29 22:31] dallanlee opened #61 "Change apple status bar style"
This plugin is automatically setting the `apple-mobile-web-app-status-bar-style` to `black-translucent` and there appears to be no option to change it.

[2019-05-29 22:34] dallanlee commented on #61
After digging around and looking at the plugins/packages this plugin uses, there is a setting `appleStatusBarStyle` that can change the `apple-mobile-web-app-status-bar-style`. in the `options` object, you can just add `appleStatusBarStyle: 'default',` (or `'black'` instead of `'default'`) to change it even though the README doesn't list that option as an option.

[2019-05-29 22:34] #61 closed, assigned to nobody

[2019-05-30 20:43] janosh commented on #60
I can confirm that removing and reinstalling `gatsby-plugin-favicon` (using `yarn`) solves the issue. Didn't try `yarn upgrade`.

[2019-06-24 16:11] alessandrojcm opened #62 "html-react-parser dependency pulling old React version"
Hi there,

I'm using this plugin on a project, but I'm having this weird issue.
You'll see, this plugin depends on `html-react-parser` on its `0.x.x` version; this package in turn depends on `react-dom-core@0.1.1` which in turn pulls React version 15.6.2. My project uses the latest React version, so this causes a duplicate module error; with my project failing to run.

Here's the output of `yarn w

[2019-08-23 16:46] mikepuglisi commented on #58
I just ran into this issue. I recently started using Jimp which handles image processing "with zero native dependencies." Something to consider over sharp.

[2019-09-11 20:43] sarahmonster opened #63 "Using different source images for different sizes"
Thank you for the excellent plugin!

I'd love to be able to provide a few different favicon sources for different sizes—what works at 16x16 isn't appropriate for 148x148, and vice-versa.

Is this possible to do with this plugin? It looks as though `gatsby-plugin-manifest` has this functionality, but I'd prefer to continue using `gatsby-plugin-favicon` if at all possible. I'd be happy to help by su

[2019-09-19 10:33] robmarshall opened #64 "Something went wrong installing the "sharp" module"
Error:
The specified procedure could not be found.
\\?\C:\projects\runleeds\Run-Leeds-Gatsby\node_modules\favicons\node_modules\sharp\build\Release\sharp.node

It seems that the favicon libary used by https://github.com/Creatiwity/favicons-webpack-plugin is out of date? May not be the issue...

The build is running on Netlify, but not my local host.

[2019-09-19 16:14] metafield commented on #64
Getting the exact same issue here

[2019-09-19 19:01] julien1619 commented on #64
I'll try to release a version this week with updated dependencies. Thanks for the report!Le 19 sept. 2019 18:14, Anthony Sylvester <notifications@github.com> a écrit :Getting the exact same issue here

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-19 21:47] kowalski7cc commented on #64
I confirm having the same issue but only with Windows. On WSL or Netlify bulids no issue at all.
Tested on Windows and on WSL with Node LTS.

[2019-09-26 18:36] robmarshall commented on #64
I had a look into this but couldn't see exactly what was needed to be changed. Would anyone be able to help? I am trying to use this for a site of mine.

[2019-10-09 08:31] SimeonC commented on #64
I got this when I did `npm install` on a different machine and then copied the `node_modules` across to the new machine. Using docker and multiple "machines" in the CI. We fixed this by making sure you build and install on the same type of machine and node version.

[2019-10-09 14:42] julien1619 commented on #64
I looked into this problem and it seems that sharp was updated in others gatsby plugins and it's not compatible with the version we use.

This plugin is based on `favicons-webpack-plugin`, which is a fork of an inactive library (no new release since a few months), which depends on `favicons`. `favicons` is currently well maintained but have not yet updated its `sharp` version. So it's tricky to ke

[2019-10-13 21:47] vitkon commented on #64
I'll second it, update to `sharp@0.23.1` is required to use your plugin with the latest Gatsby deps.
I had to remove it for now to be up to date with the rest of Gatsby ecosystem.

[2019-10-18 19:42] abumalick commented on #64
@julien1619 it looks like `favicons-webpack-plugin` got some updates lately:
 https://github.com/jantimon/favicons-webpack-plugin/releases

Maybe it is not worth rewriting everything.

Here is a quick fix to this issue, that force `favicons` to use `sharp@0.23.1`

Add this to `package.json`
[code]

ref https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2019-11-01 00:31] decimoseptimo opened #66 "Make notice incompatibility with gatsby-plugin-manifest official plugin"
It should be made noticed in the README that this plugin is incompatible with https://www.gatsbyjs.org/packages/gatsby-plugin-manifest/ as it overrides its values, which is an official plugin and comes activated by default in https://github.com/gatsbyjs/gatsby-starter-default.

[2020-01-24 13:59] mathiasha commented on #64
This is still an issue for me. I have to remove this plugin for Gatsby to build.
Is anyone working on a fix for this?

[2020-01-24 15:34] julien1619 commented on #64
I've looked into it again and `favicons-webpack-plugin` was updated lately. But it dropped a key feature needed by `gatsby-plugin-favicon` : the stats file generation.

This file is used to inject the generated favicons into all HTML pages generated by Gatsby. If I update this dependency, it will fix the Sharp plugin problem but will break the whole thing anyway.

There are multiple options, but e

[2020-02-05 08:43] bnbon commented on #64
Any idea which path you plan to take Julien? Thanks

[2020-05-04 13:07] david-gregorian opened #67 "Wrongly set application-name meta tag"
Alright, I have overseen this part in the readme :D It seems like you mention it, but why is it required to set this meta tag? Wouldn't it be better to not set it at all as default?

[2020-05-07 12:26] broksonic21 opened #68 "Prototype Pollution"
Is there a dependency upgrade on the horizon? The `npm audit` steps listed don't resolve this...

[code]

[2020-10-08 20:59] lucaskjaero opened #69 "NPM audit reports high vulnerability coming from to-ico package in favicon."
Hi! In your `favicon` dependency, NPM audit shows that the dependency `to-ico` is vulnerable to CVE-2020-7661, which is rated as a high severity vulnerability. I've raised this issue with that team and wanted to provide an issue here for linking.

https://github.com/itgalaxy/favicons/issues/322

[2021-04-27 14:51] receter opened #71 "Unexpected token u in JSON at position 0"
I updated my project to Gatsby 3 and can’t start the dev server unless I disable gatsby-plugin-favicon.

I am on Windows with WSL 2, this is the error that comes up if I try to start:

[code]

[2021-04-27 14:57] receter commented on #71
I did log some variables too:

[code]

Result:
[code]

[2021-04-28 14:39] dylan-13 commented on #71
You'll have more help if you put this issue on Gatsby repo, and like that you'll trigger a problem that they can relate on the doc.

[2021-05-07 13:49] Clement-Bresson commented on #71
I got the same issue with gatsby-plugin-favicon + gatsby v3.
If it can help, I ended up using https://www.gatsbyjs.com/plugins/gatsby-plugin-manifest/ which handles favicon (+ other things) and works well with gatsby v3.

[2021-09-20 04:31] xMdb opened #72 "Gatsby plugin library page for this plugin only shows 'README.md'"
https://www.gatsbyjs.com/plugins/gatsby-plugin-favicon/ only shows the words 'README.md'

![image](https://user-images.githubusercontent.com/46137770/133957314-7c7ad7eb-b176-426d-b7bf-032b519906c9.png)

[2022-01-05 18:36] tbm5k opened #73 "Support for React 17"
The package wouldn't install on projects with react 17
[code]